.cbox{
	height: 100%;
	width: 100%;
}

.header1{
	background-color:#D3D3D3;
	
}

.i1{
	margin: 4% 4% 4% 4%;
	height: 35%;
	width: 35%;
}

.nv{
	margin:4% 0% 4% 4%;
}

.s1{
	margin: 4% 0% 4% 4%;
}

.bd{
	background-color:;
	height: 60%;
	
}

.tp{
	margin-top: 0px;
	text-align:center;
}

.t{
	float:right;
}

