.cbox{
	
	height: 100%;
	width: 100%;
}

.header1{
	background-color:#F0DF87;
	height: 50%;
}

.i1{
	margin: 4% 4% 4% 4%;
	height: 20%;
	width: 20%;
}

.s1{
	margin: 4% 10% 5% 45%;
}

.bd{
	background-color:gray;
	height: 60%;
	
}

.tp{
	margin-top: 0px;
	text-align:center;
}